<div class="hbox hbox-auto-xs hbox-auto-sm">
  <div class="col">
    <div style="background:url(img/c4.jpg) center center; background-size:cover">
      <div class="wrapper-lg bg-white-opacity">
        <div class="row m-t">
        </div>
      </div>
    </div>
    <div class="wrapper bg-white b-b">
    </div>-->
    <div class="padder">      
       	<div class="col-sm-2">
            <a href class="thumb-lg pull-left m-r">
              <img src="img/a0.jpg" class="img-circle">
            </a>
            <div class="clear m-b">
              <div class="m-b m-t-sm">
                <span class="h3 text-black">John.Smith</span>
              </div>
              <p class="m-b">
                <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-twitter"></i></a>
                <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-facebook"></i></a>
                <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-google-plus"></i></a>
              </p>
            </div>
          </div>
          <div class="col-sm-10">
            <div>
              <div class="row m-t" align="center">
              	<h2>¿Quien soy?</h2>
      		  </div>
      		  <p>
      		  	Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. ullamcorper sodales nisi nec adipiscing elit. Morbi id neque quam. Aliquam sollicitudin Diam nonummy nibh euismod tincidunt ut laoreet. ullamcorper sodales nisi nec adipiscing elit. Morbi id neque quam. Aliquam sollicitudin 
      		  </p>	
            </div>
          </div>
  	  </div>
  	   <div class="wrapper bg-white b-b">
          <div class="row m-t">
          	<h2 align="center">Árbol de influencia</h2>
          </div>
          <div class="row m-t">
          	<img src="img/arbol.png">
          </div>
	    </div>
	</div>
</div>