	<div ng-init="app.settings.container = false; app.settings.headerFixed = false; app.settings.asideFolded = false; app.settings.asideDock = false;" class="md-navbar navbar blue md-whiteframe-z1" data-ng-include=" '/layouts/components/material.header.html' " >
	</div>
	
	<div layout="row">
	  <!-- menu -->
	  
	  <!-- / menu -->

	  <!-- view -->
	  <div flex layout="column" >
	  	<div ui-butterbar></div>
    	<a href class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".md-aside" ></a>
	  	<div class="md-content" ui-view></div>
	  </div>
	  <!-- / view -->
	</div>


	<div ng-init="app.settings.container = false;" class="text-muted" data-ng-include=" '/layouts/components/page_footer.html' " >
	</div>