<!-- list -->
<ul class="nav center-menu-item">
  
  <li ui-sref-active="active">
    <a ui-sref="app.calendar">
     
      <span class="font-bold" >Perfil</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.calendar">
     
      <span class="font-bold" >Administrar Campañas</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.mail.list">
     
    
      <span class="font-bold" >Crear Campaña</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.mail.list">
      
      
      <span class="font-bold">Crear Actualización</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.mail.list">
      
     
      <span class="font-bold" >Reporte de Donaciones</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.mail.list">
     
      
      <span class="font-bold" >Reportes de Transparencia</span>
    </a>
  </li>
 <li ui-sref-active="active">
    <a ui-sref="app.mail.list">
      
      
      <span class="font-bold" >Configuración</span>
    </a>
  </li>
 
</ul>
<!-- / list -->
