<!-- list -->
<ul class="nav center-menu-item">
  
  <li ui-sref-active="active">
    <a ui-sref="app.calendar">
     
      <span class="font-bold" >Perfil</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.calendar">
     
      <span class="font-bold" >Recibos de donaciones</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.mail.list">
     
    
      <span class="font-bold" >Portafolio</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.mail.list">
      
      
      <span class="font-bold">Configuración</span>
    </a>
  </li>
  
</ul>
<!-- / list -->
